<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Cashier | Restaurant Management System Admin Templates</title>

	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleBasic.css">
    <!-- responsive CSS
		============================================ -->

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/process.js"></script>
		<script src="/javascripts/print.min.js" charset="utf-8"></script>
</head>

<style>

	.customImg{
	    width: 100px;
	    height: 100px;
	}

	.paddingT{
		padding-top: 100px;
	}

	.paddingTB {
		padding-bottom: 100px;
		padding-top: 50px;
	}

	.bgWhite{
		background: white;
	}

	.product-status {
		padding-top: 0;
		padding-bottom: 0;
	}

</style>

<body>
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingReset">

				    <div class="all-content-wrapper">

				        <div class="header-advance-area">
				            <div class="header-top-area">
				                <div class="container-fluid">
				                    <div class="row">

				                        <div class="col-lg-12 col-md-12 col-sm-11 col-xs-12">
				                            <div class="header-top-wraper">
				                                <div class="row marginReset">

	                                				<!-- {{!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingReset">
                                						<div class="dropdown">
                                							<a class="btn dropdown-toggle" data-toggle="dropdown">
                                								<span class="admin-name"><i class="fa fa-bars"></i></span>
                                							</a>

                                							<ul id="listdown" role="menu" class="dropdown-menu animated zoomIn">

                                								<li>
                                									<a href="/index">
                                										<i class="fa big-icon fa-home icon-wrap"></i>
                                										<span class="mini-sub-pro">Home</span>
                                									</a>
                                								</li>

                                								<li class="dropdown-submenu">
                                					                <a class="has-arrow test">
                                									   <i class="fa big-icon fa-cutlery icon-wrap"></i>
                                									   Admin Dashboard
                                									   <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                									</a>

                                									<ul class="dropdown-menu">
                                										<li>
                                											<a href="/food-list">
                                												<i class="fa fa-female sub-icon-mg"></i>
                                												<span class="mini-sub-pro">Food List</span>
                                											</a>
                                										</li>

                                										<li>
                                											<a href="/food-edit">
                                												<i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i>
                                												<span class="mini-sub-pro">Food Edit</span>
                                											</a>
                                										</li>

                                										<li>
                                											<a href="/food-payment">
                                												<i class="fa fa-location-arrow sub-icon-mg" aria-hidden="true"></i>
                                												<span class="mini-sub-pro">Food Payment</span>
                                											</a>
                                										</li>
                                									</ul>

                                								</li>

                                								<li class="dropdown-submenu">
                                					                <a class="has-arrow test">
                                									   <i class="fa big-icon fa-database icon-wrap"></i>
                                									   Summary
                                									   <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                									</a>

                                									<ul class="dropdown-menu">
                                										<li><a title="Staff" href="/staff"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Staff</span></a></li>

                                										<li><a title="Menu" href="/menu"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Menu</span></a></li>

                                										<li><a title="Voucher" href="/voucher"><i class="fa fa-location-arrow sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Voucher</span></a></li>

                                										<li><a title="Daily Sale" href="/dailysale"><i class="fa fa-line-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Daily Sale</span></a></li>

                                										<li><a title="Daily Sale" href="/monthlysale"><i class="fa fa-line-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Monthly Sale</span></a></li>
                                									</ul>
                                								</li>

                                							</ul>
                                						</div>
	                                				</div> --}} -->

													<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>

                        				            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 paddingReset">
                        				                <div class="dropdown">
                        				                    <a data-toggle="dropdown" class="btn dropdown-toggle">
                        											<i class="fa fa-user-plus adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                        											<span class="admin-name">Register Here</span>
                        											<i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                        									</a>

                        				                    <ul class="dropdown-menu animated zoomIn">
                        				                        <li><a href="/adminDB"><span class="fa fa-home author-log-ic"></span>Register</a>
                        				                        </li>

                        				                        <li><a href="/login"><span class="fa fa-lock author-log-ic"></span>Log Out</a>
                        				                        </li>
                        				                    </ul>
                        				                </div>
                        				            </div>

				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>

						<div class="container-fluid paddingT">
							<div class="row" >
						    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" id="printArea">
									<div class="card" id="tab_all">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <img src="/img/logo/logo13.png">
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1">Invoice <span id="oid"></span></p>
                        </div>
                    </div>

                    <hr class="my-5">

                    <div class="row p-5">
											<h3>Menu List</h3>
                        <div class="col-md-12">
                            <table class="table" id="menutab">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">Menu Name</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

										<div class="row p-5">
											<h3>Drinks List</h3>
                        <div class="col-md-12">
                            <table class="table" id="drinktab">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">Drink Name</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Menu Total</div>
                            <div class="h2 font-weight-light" id="men">0</div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Drink Total</div>
                            <div class="h2 font-weight-light" id="dri">0</div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Total amount</div>
                            <div class="h2 font-weight-light" id="tol">0</div>
                        </div>
                    </div>
                </div>
            </div>

					        	</div>

						        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 bgWhite">
									<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
										<a name="button" id="check" class="btn btn-primary">CheckOut</a>
									</div>
									<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
										<button type="button" name="button" id="pri" onclick="print();" class="btn btn-warning">Print</button>
									</div>

									<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
										<div class="dropdown">
											<a data-toggle="dropdown" class="btn dropdown-toggle">
												<span class="admin-name btn btn-yellow">Arrived Tables</span>
												<i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
											</a>

											<ul class="dropdown-menu animated zoomIn">
												<% for(var i = 0; i< tables.length; i++){%>
													<li>
														<a id="<%= tables[i].tableNo %>" value="<%= tables[i].tableNo %>" onclick="myFunction(this.id)">Table <%= tables[i].tableNo %></a>
													</li>
												<%}%>



											</ul>
										</div>
									</div>
						        </div>
							</div>

							<div class="row paddingTB">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<a href="/" class="btn btn-orange pull-right" >
										Return Home
									</a>
								</div>
							</div>

						</div>

				        <div class="footer footer-copyright-area">
				        	<div class="footer-copy-right">
				        		<p>Copyright &copy; 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
				        	</div>
				        </div>

				    </div>

			</div>
		</div>
	</div>
</body>

<script>
	$('#tab_all').hide();
	$('#check').hide();
	$('#pri').hide();
	function myFunction(clickedID){
		$('#check').attr('href','/cashiers/checkout/'+clickedID);
		$('#tab_all').show();
		$('#check').show();
		$('#pri').show();
		$.ajax({
			url:'/cashiers/ordersigle',
			type :'POST',
			data :{tno:clickedID},
			success: function(result) {
				if(result.order){
					var men = 0;
					var dri = 0;
					var data = result.order[0];
					 for(var j = 0; j< data.menus.length; j++){
						 men += (Number(data.menus[j].menu_id.price) * Number(data.menus[j].count));
						 var markup = "<tr><td>" + data.menus[j].menu_id.title +"</td><td>" + data.menus[j].count + "</td><td>" + data.menus[j].menu_id.price+"</td><td>"+(Number(data.menus[j].menu_id.price) * Number(data.menus[j].count))+"</td></tr>"
	 					$("#menutab tbody").append(markup);
					 }

					 for(var k = 0; k< data.drinks.length; k++){
						 dri += (Number(data.drinks[k].drink_id.price) * Number(data.drinks[k].count));
						 var markup = "<tr><td>" + data.drinks[k].drink_id.title +"</td><td>" + data.drinks[k].count + "</td><td>" + data.drinks[k].drink_id.price+"</td><td>"+(Number(data.drinks[k].drink_id.price) * Number(data.drinks[k].count))+"</td></tr>"
	 					$("#drinktab tbody").append(markup);
					 }
					 $('#men').html(men);
					 $('#dri').html(dri);
					 $('#tol').html(men+dri);
					 $('#oid').html('#'+data._id);

				}
			}
		})
	}

	function print() {
		printJS({
				printable: 'printArea',
				type: 'html',
				targetStyles: ['*']
		})
	}


</script>

</html>
